.App {
  text-align: center;
}

.link{
  color: white;
  text-decoration: none;
}

.link.box{
  padding: 8px;
}

.link.box.real{
  border: 2px #43b2d6 solid;
  border-radius: 20px;
}

.dark-mode{
  background-color: #1f1f1f;
  color: white;
}